.frontSection {
  height: 100vh;
  background-image: url("./_assets/bg2.jpg");
}

.menu {
  height: 7vh;
  display: flex;
  color: white;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
    li {
      font-size: 20px;
      margin-right: 120px;
      margin-top: 70px;
      padding: 10px 20px;
      &:hover {
        cursor: pointer;
        border: 1px solid cornflowerblue;
        border-radius: 25px;
      }
    }
  .logo {
    margin-top: 50px;
    margin-right: 400px;
    font-size: 40px;
    pointer-events: none;
    span {
      letter-spacing: 3px;
      font-weight: 100;
    }
  }
}